/* book_cart.php */
#cart {
    text-align: center;
    margin-bottom: 50px;
}
#cart .info {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
#cart .info span {
    margin-left: 24px;
}

#deleteOne button {
    width: 30px;
    border: none;
    background-color: transparent;
    color: gray;
    transition: 0.5s;
}
#deleteOne button:hover {
    color: orangered;
}

#deleteAll button {
    background-color: var(--main-color);
    border-radius: 8px;
    color: #fff;
    padding: 5px;
}
#deleteAll button:hover {
    background-color: coral;
}
/* book_cart.php // */


/* 반응형 */
@media screen and (max-width: 768px) {
    #cart .info {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    #cart .info {
        width: 90%;
    }
    #cart th,td {
        padding: 8px !important;
    }
    #deleteOne button i {
        font-size: 1.2rem;
    }
}