/* book_register.php + book_edit.php */
.bookForm {
    border-collapse: collapse;
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
}
table tr:not(:last-child){
    border-bottom: 1px solid #ccc;
}
table th,td {
    padding: 16px;
}
.bookForm th {
    width: 40%;
}
.bookForm td {
    width: 60%;
}
.bookForm input, select, textarea {
    line-height: 20px;
    padding: 5px 8px;
    font-weight: bold;
    font-size: 16px;
}

.formBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}
.formBtns li:nth-child(1){
    margin-right: 20px;
}
.formBtns button {
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
}
/* book_register.php + book_edit.php // */

/* book_edit.php */
#originalCk {
    margin-top: 8px;
    font-weight: bold;
}
#originalCk input {
    width: 40px;
}
/* book_edit.php // */

/* 반응형 */
@media screen and (max-width: 710px) {
    .bookForm input, select, textarea {
        font-size: 0.8rem;
        line-height: 1rem;
        width: 90%;
    }
    .bookForm th {
        width: 30%;
    }
    .bookForm td {
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    .bookForm {
        width: 90%;
    }
    .bookForm input, select, textarea {
        font-size: 0.5rem;
        line-height: 0.8rem;
    }
}
