/* index.php */
    /* carousel slider */
#slider {
    position: relative;
    margin-bottom: 80px;
    margin-top: 130px;
}
#slide-group-view {
    width: 100%;
    height: 300px;
    /* height: 30vh; */
    /* height: 16%; */
    position: relative;
    overflow: hidden;
    border-radius: 24px;
}
#slide-group {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.slide-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}

#nav {
    width: 90%;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666;
}
#nav i {
    cursor: pointer;
}

#indicator {
    width: 10%;
    max-width: 150px;
    height: 16px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#indicator li {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 0 #999;
    /* box-shadow: inset 2px 2px #999; */
    font-size: 0;
    transition: 0.5s;
    border: 2px solid #999;
    cursor: pointer;
}
#indicator li.on {
    box-shadow: none;
    background-color: #fff;
}
    /* carousel slider // */

#sortBook {
    display: flex;
    align-items: center;
    justify-content: center;
}
#sortBook select {
    width: 150px;
    margin: 0 16px;
}
#sortBook button {
    border: 2px solid var(--main-color);
    padding: 4px;
    border-radius: 8px;
    background-color: transparent;
    color: var(--main-color);
}
#sortBook button:hover {
    background-color: var(--main-color);
    color: #fff;
}

#best {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#best li {
    width: 33%;
    text-align: center;
    margin: 40px 0;
    transition: 0.5s;
}
#best li:hover {
    transform: scale(1.1);
}

#register {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
    margin: 0 auto;
}
/* index.php // */


/* 반응형 */
@media screen and (max-width: 1200px) {
    #slide-group-view {
        height: 30vh;
    }
}

@media screen and (max-width: 800px) {
    #slider {
        margin-bottom: 56px;
    }
    #slide-group-view {
        height: 30vh;
        border-radius: 16px;
    }
    #indicator li {
        width: 8px;
        height: 8px;
    }
    #best li img {
        width: 70%;
        height: 100%;
    }
}

@media screen and (max-width: 576px) {
    #slider {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    #slide-group-view {
        height: 16vh;
        border-radius: 0;
    }
    #nav i {
        font-size: 0.8rem;
    }
    #indicator {
        bottom: 10%;
    }
    #indicator li {
        width: 5px;
        height: 5px;
        box-shadow: 0.5px 0.5px 0 #999;
        border: 1px solid #999;
    }
    #sortBook select {
        font-size: 0.8rem;
    }
    #best li {
        margin: 24px 0;
    }
}

@media screen and (max-width: 375px) {
    #slider {
        margin-top: 140px;
    }
}