@charset "utf-8";

:root {
    --main-color: seagreen;
}

/* 공통적인 부분 */
* { margin: 0; padding: 0; box-sizing: border-box; }
li {list-style: none; }
a { color: inherit; text-decoration: none; }
input { outline: none; }
button { cursor: pointer; }

#wrap {
    font-size: 16px;
}

.inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: var(--main-color);
    color: #fff;
    position: relative;
    margin-bottom: 50px;
}
header .inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerBtns {
    display: flex;
    align-items: center;
}
#headerBtns button {
    background-color: transparent;
    color: #fff;
    margin-right: 16px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 5px 8px;
    transition: 0.5s;
}
#headerBtns button:hover {
    background-color: #fff;
    color: var(--main-color);
}
#logout {
    margin-left: 16px;
}
#headerBtns i {
    font-size: 22px;
    line-height: 80px;
}

h2 {
    text-align: center;
    margin: 50px 0;
}

footer{
    width: 100%;
    border-top: 3px solid var(--main-color);
    height: 70px;
    line-height: 70px;
}
footer .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnStyle {
    background-color: var(--main-color);
    color: #fff;
}
/* 공통적인 부분 // */

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 50px;
}
table input {
    line-height: 20px;
    padding-left: 8px;
}

/* join.php */
#join {
    width: 70%;
}
#join th, td {
    padding: 16px;
}
#join tr:first-child {
    border-top: 1px solid #ccc;
}
#join tr:not(:last-child){
    border-bottom: 1px solid #ccc;
}
#join tr:last-child {
    text-align: center;
}
#join input {
    width: 300px;
}
#join button {
    margin-top: 16px;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
}
#join button:first-child {
    margin-right: 25px;
}
/* join.php // */

/* login.php */
#loginBtn {
    border: none;
    padding: 16px;
}
/* login.php // */
